:root {
    --texto-cinza: #948F8F;
}



.rodape__section {
    width: 90%;
}

.rodape__section_completo, .rodape__section {
    margin: 2rem auto;
}

.rodape__logo {
    width: 150px;
    height: 150px;
}

.rodape__section_section {
    display: flex;
    align-items: center;
}

.rodape__nav{
    margin: 1rem auto;
}

.rodape__nav_item, .rodape__texto {
    text-decoration: none;
    text-align: center;
    color: var(--texto-cinza);
    padding-left: 1rem;
}

.rodape__nav_item_primeiro {
    padding: 0rem;
}