.cabecalho__section{
    width: 90%;
    margin: 0 auto;
}

.cabecalho__logo {
    width: 150px;
    height: 150px;
}

.cabecalho__section_section {
    display: flex;
    align-items: center;
}

.cabecalho__nav{
    margin-left: auto;
    margin-right: 3rem;
}

.cabecalho__nav_item {
    text-decoration: none;
    color: #948F8F;
    padding-left: 1rem;
}