:root {
    --texto-branco: #ffffff;
    --texto-azul: #2AECF8;
    --texto-preto: #000000;
    --texto-vermelho: #FF4208;

    --font-family: 'Baloo Bhaijaan 2', cursive;

    --borda-primaria: #a74c7d;
    --borda-secundaria: #44233b;
    --borda-terciaria: #1f161f;

    --background: #3F2433;
}

body {
    background: var(--background);
}

.divisao__conteudo {
    display:block; 
    margin-left: auto;
    margin-right: auto;
    width:100%; 
    height:2px; 
    background-color: var(--texto-branco); 
    text-align: center;
}

.divisao__conteudo_cima {
    margin-top: 2rem;
}

.divisao__conteudo_embaixo {
    margin-bottom: 2rem;
}


/*parte do conteudo*/
.conteudo__section {
    margin-left: auto;
    margin-right: auto;
    width: 896px;
    height: auto;
    border: 4px solid var(--borda-primaria);
    border-radius: 30px;
    box-shadow: 0 5px 0 0 var(--borda-secundaria),0 0 0 3px var(--borda-terciaria),0 5px 0 3px var(--borda-terciaria);
}

.conteudo__imagem {
    display: flex;
    align-items: center;
}

.conteudo__titulo {
    font-size: 2.5rem;
    margin: 1rem 0;
}

.conteudo__paragrafo {
    font-size: 1.5rem;
    margin: 2rem 0;
}

.conteudo__div_div {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.conteudo__paragrafo, .conteudo__titulo {
    text-align: center;
    color: var(--texto-branco);
    font-family: var(--font-family);
    text-shadow: 2px 2px 2px var(--texto-preto);
}

.conteudo__paragrafo_link, .conteudo__paragrafo_vermelho {
    color: var(--texto-azul);
    text-decoration: none;
}

.conteudo__paragrafo_vermelho {
    color: var(--texto-vermelho);
}




/*parte sobre*/

.conteudo__section_sobre {
    margin: 2rem auto;
}


.sobre__div_principal {
    display: grid;
    grid-gap: 3rem 1rem;
    justify-content: center;
    grid-template: auto/repeat(3,275px);
    margin: 2.5rem 1rem;
}


.sobre__div_borda {
    position: relative;
    width: 260px;
    height: 330px;
    background: linear-gradient(0deg,#502f40,#612f48);
    border: 2px solid var(--borda-primaria);
    border-radius: 10px;
    box-shadow: 0 5px 0 0 var(--borda-secundaria),0 0 0 3px var(--borda-terciaria),0 5px 0 3px var(--borda-terciaria);
}


.sobre__div_image {
    position: relative;
    top: -25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto -1rem;
    width: 180px;
    height: 180px;
    background-color: var(--borda-primaria);
    border-radius: 50%;
    border: 4px solid var(--borda-secundaria);
}


.sobre__div_image_image {
    position: relative;
    top: -0.4em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}


.sobre__div_banner {
    width: 90%;

    font-family: var(--font-family);
    color: var(--texto-branco);
    text-shadow: 2px 2px 2px var(--texto-preto);
    font-size: 1.5rem;

    background-image: url(../img/banner.png);
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;


    position: relative;
    top: -2rem;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -2rem;
    height: 50px;
}


.sobre__div_texto {
    font-family: var(--font-family);
    color: var(--texto-branco);
    text-shadow: 2px 2px 2px var(--texto-preto);
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.8rem;

    top: 7.5rem;
    margin: 1em 0.5em;
}